body {
	background-image: url(img/bg.jpg);
}
.contenedor {
	width: 1260px;
	margin-right: auto;
	margin-left: auto;
}

a {
	text-decoration: none;
	color: #FFFFFF;
}
nav  li, .social li {
	display: inline-block;
	padding: 5px;
}
nav {
	float: left;
	width: 31%;
}

header img {
	width: 32%;
}
.clear {
	clear: both;
}
headerdecha  {
	float: right;
}
.social p {
	float: left;
}
