@charset "utf-8";
/* CSS Document */
.pasos {
	list-style-type: none;
}
.pasos li {
	display: inline-block;
	border-radius: 50%;
	line-height: 0;
	text-align: center;
	vertical-align: middle;
	margin-left: -50%;
	text-transform: uppercase;
	color: #FFF;
	font-weight: bold;
	opacity: 0;
	transform: rotate(100deg);
	border-spacing: 0;
}
li[title="Organize"] {
	background-color: rgba(206, 65, 84, 0.6);
	width: 20%;
	padding: 10% 0;
	/*margin-left: 3%;*/
	
}
li[title="Plan"] {
	background-color: rgba(180, 156, 149, 0.6);
	width: 40%;
	padding: 20% 0;
	
	}
li[title="Execute"] {
	background-color: rgba(134, 95, 110, 0.6);
	width: 35%;
	padding: 17.5% 0;
	
/*	padding: 20% 0;
*/	}
li[title="Deliver"] {
	background-color: rgba(215, 186, 173, 0.6);
	width: 15%;
	padding: 7.5% 0;
	
}
.service{
	opacity: 0;
	margin-left: -50%;
}