@charset "utf-8";
section {
	padding-top: 60px;
	position: relative;
	z-index: 99;
}

#map-canvas {
        height: 400px;
        margin: 0px;
        padding: 0px
}

.navbar-nav {
	float: none;!important
	
}

ul {
	padding-top: 25px;
}

.logo {
	height: 90px;
	width: 90px;
	left: 50%;
	margin-left: -45px;
	margin-bottom: -40px;
}

.logo img {
	height: 90px;
	width: 90px;
	margin-top: -15px;
}

.mitad {
	margin-left: 165px;!important
}

.item {
	margin:5px;
}

.verdil {
	color: #9dce00;
}

.blanquete {
	color: #CCC;
}

.grisin {
	background-color:rgb(47, 65, 76);
}

.intro {
	text-transform: uppercase;
	color: #4b6677;
	font-weight: bold;
}

.parallax {
	height: 300px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	z-index: 9999;
}

#home{
	height: 500px;
	background-image:url(/pr-17/images/header.jpg);
	background-attachment: fixed;
	z-index: 1;

}
.verdilito {
	color: #9dce00;
	font-size: 2em;
	text-transform: uppercase;
	text-align: center;
	top: 124px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	width: 84px;
	left: 588px;
	position: fixed;
	z-index: 1;
	
}

#home p {
	color: #f00;
	font-size: 2em;
	text-transform: uppercase;
	text-align: center;
	top: 200px;
	position: fixed;
	z-index: 1;
	left: 0;
}


.titulos {
	font-size: 5em;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
	padding-top: 100px;
}



.form-control, input, textarea {
	background: rgba(255,255,255,0.1);
	outline: 0;
	border: 0 none;
}
.form-control:focus {
	outline: 0 !important;
	box-shadow: none !important;
}

.btn-primary.disabled {
	background-color: #9dce00;
	border-color: #9dce00;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}
