/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

	

/* #Site Styles
================================================== */
html{
	overflow-y: scroll;
}

img {
	max-width: 100%;
	height: auto;
}
header p {
	text-align: center;
}
nav li {
	display: inline;
	margin-top:15px;
	font-size: 18px;
	
}
a  {
	text-decoration: none;
	font-size: 18px;
}
nav {
	text-align: center;
	border-top-width: thin;
	border-bottom-width: thin;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #DADADA;
	border-bottom-color: #DADADA;
	padding-top: 10px;
	margin-bottom: 50px;
}
#home   {
	text-align: center;
}

#estudios h1 {
	border-top-width: thin;
	border-bottom-width: thin;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #DADADA;
	border-bottom-color: #DADADA;
	padding-top: 10px;
	padding-bottom: 10px;
}
h2 {
	padding-top: 12px;
	padding-bottom: 12px;
	border-top-width: thin;
	border-bottom-width: thin;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #DADADA;
	border-bottom-color: #DADADA;
	font-size: 22px;
	text-align: center;
}
#opinion h3 {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-width: thin;
	border-bottom-width: thin;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #DADADA;
	border-bottom-color: #DADADA;
}
footer {
	color: #FFFFFF;
	background-image: url(../images/footer_mast.png);
	background-repeat: no-repeat;
	padding: 15px 25px 5px;
}
footer p {
	padding-top: 13px;
	padding-left: 15px;
	font-weight: bold;
	color: #CCCCCC;
}

.autor {
	color: #4083b5;
}
#helloIzq .negrita {
	font-weight: bold;
}

#helloIzq .boton {
	color: #FFFFFF;
	background-color: #4083b5;
	;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 150px;
	margin-right: auto;
	margin-left: auto;
	text-transform: capitalize;
	font-weight: bold;
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 10px;
}
#helloIzq a {
	text-decoration: none;
}
nav a:hover {
	text-decoration: none;
	font-size: 18px;
	color: #4083b5;
}
#formulario label {
	text-indent:;

}
#formulario input[type="submit"] {
	width: 100px;
	text-transform: capitalize;
	color: #FFFFFF;
	background-color: #000000;
	font-size: 15px;
	font-weight: lighter;
	
}

.grosor {
	font-weight: bold;
	margin-top: 20px
}
.error{
	display: block;
	color:#FF0000;
}


/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		input[type="text"],
		input[type="password"],
		input[type="email"],
		input[type="url"],
		textarea, 
		select {
			border: 1px solid #ccc;
			padding: 6px 4px;
			outline: none;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			border-radius: 2px;
			font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
			color: #777;
			margin: 0;
			width: 210px;
			max-width: 100%;
			display: block;
			margin-bottom: 20px;
			background: #fff; }
		
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		input[type="text"],
		input[type="password"],
		input[type="email"],
		input[type="url"],
		textarea, 
		select {
			border: 1px solid #ccc;
			padding: 6px 4px;
			outline: none;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			border-radius: 2px;
			font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
			color: #777;
			margin: 0;
			width: 210px;
			max-width: 100%;
			display: block;
			margin-bottom: 20px;
			background: #fff; }
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		input[type="text"],
		input[type="password"],
		input[type="email"],
		input[type="url"],
		textarea, 
		select {
			border: 1px solid #ccc;
			padding: 6px 4px;
			outline: none;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			border-radius: 2px;
			font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
			color: #777;
			margin: 0;
			width: 210px;
			max-width: 100%;
			display: block;
			margin-bottom: 20px;
			background: #fff; }
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		input[type="text"],
		input[type="password"],
		input[type="email"],
		input[type="url"],
		textarea, 
		select {
			border: 1px solid #ccc;
			padding: 6px 4px;
			outline: none;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			border-radius: 2px;
			font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
			color: #777;
			margin: 0;
			width: 210px;
			max-width: 100%;
			display: block;
			margin-bottom: 20px;
			background: #fff; }
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		input[type="text"],
		input[type="password"],
		input[type="email"],
		input[type="url"],
		textarea, 
		select {
			border: 1px solid #ccc;
			padding: 6px 4px;
			outline: none;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			border-radius: 2px;
			font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
			color: #777;
			margin: 0;
			width: 210px;
			max-width: 100%;
			display: block;
			margin-bottom: 20px;
			background: #fff; }
	}
