.img1{
    background-image: url(../20151130_174814_a0657000018TQov_0.jpg);
    background-repeat: no-repeat;
    padding-bottom: 150px;
    background-position: top;
    background-size: 200px;
}
.text11{
    padding-top: 170px;
    display: block;
}
.text12{
    padding-top: 20px;
    display: block;
}
.text13{
    padding-top: 20px;
    display: block;    
}