@charset "utf-8";
/* CSS Document */

body { 
   font-family: Georgia, "Times New Roman", Times, serif;
   margin: 10 0 10 0px; 
   background-color: #000000; 
   font-size: 12px;
} 
#menu{
	display: none;
}
h1:before{
	content: "Heraldo.es";
	font-size: 16px;
}
h1 img{
	display: none;
}


a {
	color: #000000;
}
h4{
	color:#000000;
}
p img{
	/* /* IE4-8 and 9 (deprecated). 
    filter: Gray();
    /* SVG version for IE10, Chrome 17, FF3.5, 
       Safari 5.2 and Opera 11.6 
    filter: url('#grayscale'); 
    /* CSS3 filter, at the moment Webkit only. Prefix it for
       future implementations 
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%); /* future-proof  (CODIGO PARA PONER LA FOTO EN BLANCO Y NEGRO)*/
	
	display: none; 
}

#social li{
	display: none;
}
a:after{
	content: "("attr(href)")";
	color:#666666;
}
