@charset "utf-8";
/* CSS Document */

body {
	font-size: 0.75em;
	text-transform: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #333333;
	margin-bottom: 20px;
}


h2 {
	text-transform: uppercase;
	color: #666666;
	border-bottom-width: thin;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
	margin-top: 10px;
	margin-bottom: 10px;
}

p {
	line-height: 1.5em;
	text-transform: none;
}



a {
	text-decoration: none;
	color: #FF9933;
	text-transform: capitalize;
}
.bordes  li {
	border-bottom-width: 2px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
	padding-top: 2px;
	padding-bottom: 2px;
}
.alineado {
	text-align: center;
}




.mayusculas {
	text-transform: uppercase;
}

.c16 {
	font-size: 16px;
}
.col {
	width: 30%;
	display: table-cell;
	vertical-align: text-top;
	padding: 1%;
}
.col2 {
	width: 40%;
	display: table-cell;
	padding-right: 25px;
	margin-left: 25px;
}
#contenedor {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
#take {
	text-transform: lowercase;
	color: #FF9933;
}
#create {
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #FF9933;
	background: linear-gradient(to bottom, #f9c667 0%,#f79621 100%); /* W3C */
	margin-right: 0px;
	padding: 10px;
	display:inline-block;
	border-radius:20px;
}
#pie {
	background-color: #D7D7D9;
	padding: 10px;
}

#feature a {
	background-image: url(img/featuredon.jpg);
	display: inline-block;
	height: 109px;
	background-repeat: no-repeat;
	text-indent: -9999px;
}
#feature li {
	display: inline;
}
a[title="net"] {
	width: 220px;
	background-position: -225px 0px;
}
a[title="candy"] {
	background-position: -450px 0px;
	width: 218px;
}
a[title="trends"] {
	background-position: -650px 0px;
	width: 295px;
}
#social a {
	display: inline-block;
	text-indent: -9999px;
}
#social a:hover{
	opacity: 0.7;
}
#social li {
	display: inline;
}
#social a[title="facebook"] {
	background-image: url(img/footer-icon-fb.png);
	background-repeat: no-repeat;
	display: inline-block;
	height: 50px;
	width: 50px;
	margin-right: 10px;
	margin-left: 40px;
}
#social a[title="twitter"] {
	background-image: url(img/footer-icon-twitter.png);
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
}
#social a[title="mail"] {
	background-image: url(img/footer-icon-mail.png);
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
}
a[title="next"] {
	width: 200px;
	background-position: 0px 0px;
}
.bordes  a:hover{
	background:rgba(255,255,255,0.4);
	display: block;
}
