/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
		
*/
img{
 max-width: 100%;
}
#home h1 {
	font-size: 24px;
	line-height: 32px;
	color: #033;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #033;
}
#home   .oferta {
	background-color: #FFFFFF;
	padding: 10px;
}
#home .tituloFoto {
	font-size: 16px;
	line-height: 19px;
	color: #007ea7;
	text-decoration: none;
}
.container #home .lugar {
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	color: #666;
}
.container #home .boton {
	font-size: 20px;
	line-height: 20px;
	color: #FFFFFF;
	background-color: #90b333;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 8px;
	padding-right: 8px;
	margin-right: 10px;
}
#home a {
	text-decoration: none;
}

#home  .precio  {
	text-align: right;
	word-spacing: 15px;
	font-size: 14px;
	line-height: 16px;
	color: #666;
}
#home .precioFinal {
	color: #90b333;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
}
.fondo {
	background-color: #eee;
}
header {
	background-color: #FFFFFF;
}
header img {
	margin-left: 50px;
	margin-top: 30px;
}

#home .tituloFoto:hover {
	font-size: 16px;
	line-height: 19px;
	color: #90b333;
	text-decoration: none;
}
