@charset "utf-8";
.container {
	width: 1160px;
	margin-right: auto;
	margin-left: auto;
}
header {
	border-top-width: 10px;
	border-top-style: solid;
	border-top-color: #000000;
}
.centrarTxt {
	text-align: center;
}
nav li {
	display: inline;
}
nav li:nth-child(2) {
	margin: 0 30px;
}
nav {
	background-color: #00FFFF;
	width: 350px;
	margin-right: auto;
	margin-left: auto;
}
#home p {
	float: left;
	width: 22%;
	margin-right: 4%;
	margin-bottom: 4%;
}
#home p:nth-child(4n){
	margin-right: 0;
}
.clear {
	clear: both;
}
