@charset "utf-8";
/* CSS Document */

#services li {
	display: inline-block;
}
#plan {
	background-color: #1C4D8C;
	height: ;
	width: 30%;
	border-radius: 200px;
	text-align: center;
	opacity: 0.5;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 300px;
	margin-left: -15px;
	
		
}
#execute {
	background-color: #7BA696;
	height: ;
	width: 40%;
	border-radius: 500px;
	text-align: center;
	opacity: 0.5;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 25px;
	line-height: 400px;
	margin-left: -25px;
	
		
}



#organize {
	background-color: rgb(217, 137, 151);
	height: ;
	width: 18%;
	border-radius: 150px;
	text-align: center;
	opacity: 0.5;
	font-weight: bold;
	color: #FFFFFF;
	position: relative;
	font-size: 15px;
	line-height: 180px;
	
	
}

#deliver {
	background-color: #8C362E;
	height: ;
	width: 15%;
	border-radius: 100px;
	text-align: center;
	opacity: 0.5;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 15px;
	line-height: 150px;
	margin-left: -15px;
	
	
}

section h1 {
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
}
section p {
	font-size: 16px;
	line-height: 24px;
	color: #333333;
}
body {
	background-color: #F1F1F1;
}
