@charset "utf-8";
/* CSS Document */
table{
   border-width: 3px;
   border-style: solid;
   border-color: #990000;
   border-collapse: separate;
   width: 400px;
 }


caption{
	caption-side: bottom;
	color: #CC3300;
	
}
/*tr{
	table-layout: fixed;
}*/